# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Cache/Fișiere temporare Visual Studio
.vs/
*.vsidx
*.suo
*.user
*.db
*.ipch

# Fișiere de compilare și binare (Build)
[Dd]ebug/
[Rr]elease/
*.obj
*.exe
*.dll
*.ilk
*.pdb

# Fișiere Visual Studio Solution/Project
# *.vcxproj.user
# *.sln.cache

# Adaugă folderul de output al lui GTest/GMock dacă este separat
TestResults/